* {
  padding: 0;
  margin: 0;
}
.btn1 {
  background-color: rgb(107, 86, 230);
  margin: 1px;

  border-radius: 5px;
  height: 30px;
  width: 50px;
  cursor: pointer;
}

.btn2 {
  cursor: pointer;
  background-color: rgb(196, 23, 152);
  margin: 1px;

  border-radius: 5px;
  height: 30px;
  width: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 100px 300px;
  background-color: white;
  justify-content: center;
  padding: 2px;
}

.check {
  list-style: none;
  text-decoration: none;
  color: white;
  background-color: rgb(67, 67, 200);
  margin: 0px 7px 0px 500px;
  padding: 6px;
  border-radius: 5px;
}
.btn3 {
  background-color: rgb(255, 0, 0);
  margin: 2px;

  border-radius: 5px;
  height: 30px;
  width: 58px;
  cursor: pointer;
}
.cancel {
  padding: 8px;
  cursor: pointer;

  margin: 15px;
}
.image {
  width: 380px;
  height: 200px;
}

.home h1 {
  margin-left: 460px;
  margin-top: 100px;
}

.downside h4 {
  margin-left: 28%;
}
.lastpage {
  margin-left: 400px;
  padding: 3px;
  margin-top: 15px;
  padding: 10px;
}
.lastpage h2 {
  background-color: rgb(67, 67, 200);
  width: 170px;
  padding-left: 10px;
  margin: 8px;
}
.active_class {
  list-style: none;
  text-decoration: none;
  font-size: larger;
  color: blue;
}

.singup h2 {
  padding: 8px 5px 0px 0px;
  margin: 40px 90px 0px 200px;
}

.singup {
  background-color: pink;
  margin-left: 400px;

  border-color: cyan;
  border-radius: 8px;
  width: fit-content;
}
.singup input {
  padding: 5px;
  margin: 40px 160px 0px 200px;
  border-radius: 4px;
}
.prebtn {
  background-color: rgb(67, 67, 200);
  border-radius: 10px;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 35px 0px 9px 200px;
  cursor: pointer;
}

.grid-containers {
  display: grid;
  grid-template-columns: auto auto auto;
  float: left;
  grid-gap: 5px;
  margin-left: 15px;
  padding: 5px;
}
.grid-containers > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 0;
  font-size: 15px;
}
.mar {
  background-color: rgb(209, 25, 25);
  display: flex;
  color: white;
}
.mar h4 {
  padding-right: 100px;
}

.ord {
  margin-left: 22%;
  margin-top: 3%;
}
.img {
  width: 55px;
  height: 45px;
  position: relative;
  margin: 0px 0px 0px 0px;
  background-color: rgb(209, 25, 25);
  border: solid rgb(209, 25, 25);
}
.top h6 {
  position: absolute;
  width: 29px;
  height: 29px;
  right: 620px;
  top: 61px;
  left: 1052px;
  background-color: white;
  border-radius: 50%;
  border: solid rgb(136, 99, 196);
}
.top {
  margin-left: 700px;
}
.now {
  margin-left: 46%;
}
